[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ht = "*"
fluids = "*"
thermo = "*"
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
pint = "*"

[dev-packages]

[requires]
python_version = "3.6"
